<% if @results.blank? %>

  No data

<% else %>

  <ul>
    <% for result in @results %>
      <li>
        <%=h result["suggestion"]["data"] %>
        | <%=number_with_delimiter result["num_queries"]['int'] %>
      </li>
    <% end %>
  </ul>

  <div class="short-link">
    <%= link_to(question_url(:question => @question.question), question_url(:question => @question.question)) %>
    <%= clippy(question_url(:question => @question.question), '#000000') %>
  </div>
<% end %>